on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - '**.peg'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - '**.peg'

name: Test & Lint

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
      - run: go install github.com/fy0/pigeon@latest
      - run: pigeon -nolint -optimize-parser -o roll.peg.go roll.peg
      - run: go mod tidy
      - run: go get
      - run: go generate ./...
      - run: go test -v -race -cover ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.18'

      - run: go install github.com/fy0/pigeon@latest
      - run: pigeon -nolint -optimize-parser -o roll.peg.go roll.peg
      - run: go mod tidy
      - run: go get
      - run: go generate ./...
      - name: Go vet
        run: go vet ./...

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v3
        if: github.event.name == 'pull_request'
        with:
          go-version: '1.18'
          version: 'v1.57.2'
          args: '--timeout 9999s'
          only-new-issues: true
          skip-pkg-cache: true
          skip-build-cache: true

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v3
        if: github.event.name != 'pull_request'
        with:
          version: 'v1.51.2'
          args: '--timeout 9999s'
